<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ncs.mapper.ColumnMapper"> 

  <sql id="search">
  	<choose>
  		<when test="searchType=='t'.toString()">
  			and title like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='c'.toString()">
  			and content like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='w'.toString()">
  			and id like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='tc'.toString()">
  			and title like CONCAT(CONCAT('%',#{keyword}),'%') 
  			or content like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='cw'.toString()">
  			and content like CONCAT(CONCAT('%',#{keyword}),'%') 
  			or id like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='tcw'.toString()">
  			and title like CONCAT(CONCAT('%',#{keyword}),'%') 
  			or content like CONCAT(CONCAT('%',#{keyword}),'%') 
  			or id like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<otherwise> ) </otherwise>
  	</choose>
  </sql>

  <select id="searchRowCount" resultType="int">
  <![CDATA[
	select count(*) from columnm where ( seq>0 ]]>
	<include refid="search"></include>
  </select>		  
				
  <select id="searchList" resultType="com.ncs.vo.ColumnVO">
  <![CDATA[
	select * from columnm where ( 1=1 ]]>
	  <include refid="search"></include> order by seq desc
	  limit #{sno} , #{eno}
  </select>		
				  
  <select id="totalRowCount" resultType="int">
	select count(*) from columnm
  </select>
<!--  <update id="countUp">
    update column set cnt=cnt+1 where seq=#{seq}
  </update> -->
  <select id="selectList" resultType="com.ncs.vo.ColumnVO">
	select seq,title,id,regdate,cnt from columnm order by seq
  </select>
  <insert id="insert">
	<selectKey keyProperty="seq" order="BEFORE" resultType="int">
	select IFNULL(MAX(seq),0)+1 as seq from columnm
	</selectKey>
  	insert into columnm(seq,id,title,content) values(#{seq},#{id},#{title},#{content})
  </insert>
  
  <select id="selectOne" resultType="com.ncs.vo.ColumnVO">
	select seq,title,id,content,regdate,cnt from columnm where seq=#{seq}
  </select>
  
  <update id="update">
  	update columnm set title=#{title}, content=#{content} where seq=#{seq}
  </update>
  <delete id="delete">
  	delete from columnm where seq=#{seq}
  </delete>
  </mapper>