<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ncs.mapper.JobsMapper">
  
  <sql id="search">
  	<choose>
  		<when test="searchType=='t'.toString()">
  			and title like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='c'.toString()">
  			and content like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='w'.toString()">
  			and id like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='tc'.toString()">
  			and title like CONCAT(CONCAT('%',#{keyword}),'%') 
  			or content like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='cw'.toString()">
  			and content like CONCAT(CONCAT('%',#{keyword}),'%') 
  			or id like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<when test="searchType=='tcw'.toString()">
  			and title like CONCAT(CONCAT('%',#{keyword}),'%') 
  			or content like CONCAT(CONCAT('%',#{keyword}),'%') 
  			or id like CONCAT(CONCAT('%',#{keyword}),'%'))
  		</when>
  		<otherwise> ) </otherwise>
  	</choose>
  </sql>
    
    <!-- jobs selectlist() -->
    <select id="selectlist" resultType="com.ncs.vo.JobsVO">
    select * from jobs  
    </select>
   
   
    <!-- jobs insert() -->
    <insert id="insert">
      <selectKey keyProperty="seq" order="BEFORE" resultType="int">
        select IFNULL(MAX(seq),0)+1 as seq from jobs
     </selectKey>
  	insert into jobs(seq,id,category,title,content) values(#{seq},#{id},#{category},#{title},#{content})
    </insert>
    
    <!-- jobs rinsert() -->
   <!-- <insert id="rinsert">
    <selectKey keyProperty="seq" order="BEFORE" resultType="int">
      select IFNULL(MAX(seq),0)+1 as seq from jobs where id = #{id} 
    </selectKey>
    insert into jobs( seq,id,title,content,regdate,cnt,likecount,updatedate,exist,category )
    values( #{seq},#{id},#{title},#{content},SYSDATE(),#{cnt},#{likecount},SYSDATE(),#{exist},#{category}) 
   </insert> -->
     
    <!--jobs Detail() -->
    <select id="selectOne" resultType="com.ncs.vo.JobsVO">
  	select * from jobs where seq=#{seq}
    </select>
     
   <!-- jobsUpdate() -->
    <update id="update">
   	update jobs set category=#{category}, title=#{title}, content=#{content}, updatedate=now() where seq=#{seq}
    </update>
   
   <!-- jobsDelete() -->
   <delete id="delete">
   delete from jobs where seq=#{seq}
   </delete>
   
    <!-- jobssearchRowCount() -->
     <select id="searchRowCount" resultType="int">
  <![CDATA[
   select count(*) from jobs where ( seq>0 ]]>
   <include refid="search"></include>
  </select>
   
   <!-- jobssearchList() -->
  <select id="searchList" resultType="com.ncs.vo.JobsVO">
  <![CDATA[
   select * 
   from jobs where ( 1=1
     ]]>
     <include refid="search"></include> order by seq desc
     limit #{start} , #{perPageRow}
   </select>
   
   <!-- jobscountUp() -->
    <update id="countUp">
	update jobs set cnt=cnt+1 where seq=#{seq}
    </update>
    
    <!-- totalRowCount() -->
    <select id="totalRowCount" resultType="int">
	select count(*) from jobs
  </select>
  <!-- getcount -->
    <select id="getcount" resultType="int">
    select count(*) from getcount where id=#{id} and board=#{board} and 
    today=#{today} and seq=#{seq}
    </select>
    
    <!-- registercount -->
    <select id="registercount">
    insert into getcount values(#{id},#{board},#{today},#{seq})
    </select>
  
  <!-- replyInsert() -->
  <!-- <insert id="replyinsert">
  insert into jobs values((select nvl(max(seq),0)+1 from jobs),#{id},#{title},
  #{content},#{regdate},#{seq},#{cnt},#{likecount},#{exist},#{updatedate})
  </insert> -->
  
   
   
    
  
  
  </mapper>
