<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ncs.mapper.JobsReplyMapper">
  	<select id="selectlist" resultType="com.ncs.vo.JobsReplyVO">
  	select * from jobsreply where seq = #{seq} order by rseq desc
  </select>
  
<!--   <select id="selectOne" resultType="com.ncs.vo.ReplyVO">
	select rseq,rid,rcontent,regdate,rupdatedate,rexist,rlikecount,seq
	 from qnareply where seq=#{seq}
  </select> -->
  
  <insert id="rinsert">
  <selectKey keyProperty="rseq" order="BEFORE" resultType="int">
        select IFNULL(MAX(rseq),0)+1 as rseq from jobsreply
     </selectKey>
  	insert into jobsreply(rseq,rid,rcontent,seq) values(#{rseq},#{rid},#{rcontent},#{seq})
  </insert>
  
  <update id="jdelete">
  	update jobsreply set rexist = 0 where rseq = #{rseq}
  </update>
  
  </mapper>