<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncs.mapper.LikeCountMapper">
	
<!--	<select id="likeCount" resultType="int">
		select liketype from likecount where likeid = #{likeid} and board = #{board} and seq = #{seq}
	</select>-->
<!--	<select id="likeCount" resultType="int">
		select IFNULL(liketype ,0) from likecount where likeid = #{likeid} and board = #{board} and seq = #{seq}
	</select>-->

	<select id="likeExist" resultType="int">
		select IF(count(*) = 0, 0 , liketype ) from likecount where likeid = #{likeid} and board = #{board} and seq = #{seq}
	</select>

	<select id="replyLikeExist" resultType="int">
		select IF(count(*) = 0, 0 , liketype ) from replylikecount where likerid = #{likerid} and board = #{board} and rseq = #{rseq}
	</select>

	<!--IF(expr1, expr2, expr3)-->
	<insert id="likeRegister">
		insert into likecount values(#{likeid},#{board},#{seq},#{liketype})
	</insert>

	<insert id="replyLikeRegister">
		insert into replylikecount values(#{likerid},#{board},#{rseq},#{liketype})
	</insert>

	<update id="likecountUp">
		update ${board} set likecount = likecount+1 where seq = #{seq}
	</update>

	<update id="likecountDown">
		update ${board} set likecount = likecount-1 where seq = #{seq}
	</update>

	<delete id="likeDelete">
		delete from likecount where likeid = #{likeid} and board = #{board} and seq = #{seq}
	</delete>

	<delete id="replyLikeDelete">
		delete from replylikecount where likeid = #{likerid} and board = #{board} and seq = #{rseq}
	</delete>

	<update id="replyLikecountUp">
		update ${board} set rlikecount = rlikecount+1 where rseq = #{rseq}
	</update>

	<update id="replyLikecountDown">
		update ${board} set rlikecount = rlikecount-1 where rseq = #{rseq}
	</update>
</mapper>
  